
*.pyc
ISAT/checkpoints/sam_hq_vit_h.pth
ISAT/checkpoints/mobile_sam.pt
ISAT/isat.yaml
*.yaml
ISAT/software.yaml
ISAT/isat.yaml

# PyInstaller打包相关
build/
dist/
*.spec.bak
build.log
*.egg-info/
__pycache__/
