timm~=0.9.16
imgviz~=1.7.5
scikit-image~=0.19.3
opencv_python_headless
pillow~=10.2.0
pyqt5~=5.15.10
pyyaml~=6.0.1
#torch>=2.1.1
#torchvision
numpy~=1.24.3
pycocotools~=2.0.7
torch~=2.2.1+cu118
tqdm~=4.66.2
yaml~=0.2.5
torchvision~=0.17.1+cu118
matplotlib~=3.7.5
setuptools~=68.2.2